#home {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2e2a46;
    .our-partners {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-size: 52px;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin: 0px;
            color: white;
        }
    .carousel {
        .carousel-inner {
            .carousel-item {
                .commentary {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 5px;
                    width: 320px;
                    @media (min-width: 480px) {
                        & {
                            width: 480px;
                    }
                    @media (min-width: 768px) {
                        & {
                            width: 768px;
                    }
                    @media (min-width: 1200px) {
                        & {
                            width: 1200px;
                    }
                }
                &__title {
                    font-size: 20px;
                    font-weight: 900;
                    text-align: center;
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-weight: 900;
                    margin-bottom: 0px;
                    margin: 0px;
                    color: white;
                }
                &__client {
                    font-size: 16px;
                    font-weight: 700;
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-weight: 900;
                    margin: 0px;
                    color: white;
                }
                &__item {
                    font-size: 25px;
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-weight: 900;
                    width: 320px;
                    text-align: center;
                    margin: 0px;
                    height: 140px;
                    color: white;
                    @media (min-width: 768px) {
                        & {
                            width: 500px;
                        }
                    }
                }
            }
        }
    }
    }
        }
}
    }
}

@media (min-width: 320px) {
    .commentary__title {
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 900;
        margin-bottom: 0px;
        margin: 0px;
        color: white;                                   
    }
    .commentary__client {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 900;
        margin: 0px;
        color: white;
    }
    .commentary__item {
        font-size: 25px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 900;
        width: 320px;
        text-align: center;
        margin: 0px;
        height: 140px;
        color: white;              
    }
}