#contacts {
    background: url(/Images/desk_items.jpg) no-repeat center / cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts > .footer-content > h2 {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 53px;
    letter-spacing: 5px;
}

#contacts > .footer-content > p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

input {
    background: none;
    border: none;
    padding: 15px 30px 15px 30px;
    border-bottom: 1px solid;
    color: white;
    font-size: 16px;
    outline: none;
    transition: border 2s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

input:focus {
    border: 1px solid gray;
    color: white;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 30px;
}

textarea {
    font-size: 16px;
    resize: none;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    color: white;
    transition: border 2s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

textarea:focus {
    border: 1px solid gray;
    color: white;
}

textarea::placeholder {
    padding-top: 8%;
    padding-left: 10px;
    color: white;
    font-weight: 100;
}

.send {
    margin-top: 2.5rem;
    border: 0.5px solid #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: all 1s;
    background: none;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.5s ease-in;
}

.send:hover {
    background-color: black;
}























